body{
	min-height: 100vh; 
	background-image:url(92.jpg); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position:bottom;  
	
}
.container{
	min-height: 100vh; 
	display: flex; 
	flex-direction: column; 
	color: rgb(65, 55, 58); 
	font-family: fantasy; 
}

.title{
	width: 1000px; 
	margin: auto; 
	margin-top: 100px; 
	margin-bottom: 0; 
	font-size: 60px; 
	text-align: center;  
}
.subtitle1{
	margin: auto; 
	margin-top: 10px; 
	margin-bottom: 0;  
	font-size: 40px; 
}

.container-rules{
	width: 400px; 
	height: 100px;
	margin: auto; 
	margin-top: 0; 
	margin-bottom: 0; 
	background-color: #8f787e;
	color: #f2d6d5;  
	padding-top: 20px; 
	position: relative; 
	display: flex; 
	flex-direction: column;
	text-align: center; 
}

.subtitle2{
	margin: auto; 
	margin-bottom: 0;  
	font-size: 30px; 
	
}

.subtitle3{
	margin: auto; 
	margin-bottom: 0;  
	font-size: 30px;
	  
}

.input{
	width: 300px; 
	height: 50px;
	margin: auto; 
	margin-top: 22px; 
	margin-bottom: 22px; 
	font-size: 30px; 
	font-family: fantasy; 
	text-align: center; 
}
.container-play{
	display: flex; 
	margin-top: 0px; 
}
.check{
	width: 300px; 
	height: 70px; 
	margin-left: 50px; 
	font-size: 30px; 
	background-color: #538c95; 
	border: none;  
	font-family: fantasy; 
	color: rgb(65, 55, 58); 
	border-radius: 50%;   
}

.message{
	width: 600px; 
	height: 50px;
	margin-left: 70px; 
	background-color: #f2d6d5; 
	padding-left: 60px; 
	padding-top: 20px; 
	font-size: 30px;  

}

.cursive{
	font-style: oblique; 
}

.cont{
	background-color: white; 
	height: 60px; 
	width: 60px; 
	margin: auto; 
	text-align: center; 
	justify-content: center; 
	padding-top: 15px; 
	font-size: 30px; 
}

.attempts{
	margin-top: 50px; 
	display: flex; 
	flex-direction: column; 
}

.text2{
	margin: auto; 
	font-size: 30px; 
}

.reset{
	width: 300px; 
	height: 70px;
	margin: auto; 
	font-size: 30px; 
	background-color:  rgb(65, 55, 58); 
	border: none;  
	font-family: fantasy; 
	color: rgb(143, 120, 126); 
}